
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

/* ----------------------------------- */
/* *********header******************** */
/* ----------------------------------- */

    .headerRedes {
        height: 7vh;
        background-color: #3C2800;
        color: white;
    }

    .collapse {
        margin: 0 7rem;
    }

    .fa-facebook::before, .fa-instagram::before, .fa-twitter::before {
        font-size: 1.5rem;
        color: white;
    }

    .containerHeader{
        height: 30vh;
        background-color: aliceblue;
    }

    .description {
        gap: .5rem;
    }


    .description a{
        line-height: 1.5;
        text-decoration: none;
        font-style: none;
        color: black;
        font-size: 1.5rem;
        
    }

    .navb {
        background-color: #F7941D;
    }

    .link-btn {
        display: inline-block;
        padding: .5rem 3rem;
        background-color: white;
        cursor: pointer;
        font-size: 1rem;
        text-decoration: none;
        color: black;
        border-radius: 35px;
    }

    .link-btn:hover{
        background-color: rgb(145, 91, 29);
        color: white;
    }

    .home{
        position: absolute;
        top: 30%;
        left: 35%;
        transform: translate(-50%, -30%);
        width: 30rem;
        color: white;
        font-family: 'Fredoka One', cursive;
    }

    .home h1 {
        font-size: 4rem;
    }

    .sub-title {
        display: block;
        margin-bottom: 10px;
    }

    .price p{
        font-size: 1rem;
    }

    .price span{
        font-size: 3rem;
    }


/* -----------------ABOUT-------------------------- */
.about {
    background-color: #F7941D;
}

.aboutText {
    margin: 3rem;
}

.aboutText h2 {
    font-size: 2rem;
    font-family: 'Fredoka One', cursive;
}

.aboutText p {
    font-size: 1.2rem;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}
/* -----------------FIN ABOUT---------------------- */


/* ------------------SERVICE---------------------- */
.services{
    background-color: rgb(250, 241, 223);
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2rem;
}

.services .box-container .box{
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.services .box-container .box img{
    margin: 1rem 0;
    height: 6rem;
}

.services .box-container .box h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: black;
    font-family: 'Fredoka One', cursive;
}

.box1 {
    background-color: #bfebff;
}
.box2 {
    background-color: #fed3d1;
}
.box3 {
    background-color: #a9d4d9;
}
.box4 {
    background-color: #fef2d1;
}
/* ------------------FIN DEL SERVICE----------------- */


/* ------------------FOOTER---------------------- */
.footer {
    color: white;
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    border-top: solid #333;
}

.email {
    font-size: 1.5rem;
    font-family: 'Fredoka One', cursive;
}

.email a{
    text-decoration: none;
    line-height: 1.5;
    font-style: none;
    color: white;
    font-size: 1.5rem;
}

.email a:hover{
    color: #F7941D;
}

.colors{
    color: #F7941D;
}

.map{
    padding: 5%;
} 



/* ------------------------------FARMACIA ---------------------------------- */
.mainJuguetes {
    background-image: url(../img/juguteriaBg.jpeg);
    background-size: cover;
    background-position: center;
}


.mainFarmacia {
    background-image: url(../img/farmaciaBg.jpeg);
    background-size: cover;
    background-position: center;
}


.card1 {
    width: 190px;
    height: 100%;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: .5rem;
}

.card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
}

.card-img img{
    height: 10rem;
}

.card-info {
    padding-top: 10%;
    height: 10rem;
}

svg {
    width: 20px;
    height: 20px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/*Button*/
.card-button {
    background-color: #F7941D;
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

/*Hover*/
.card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}


/* ------------------------------FIN DE FARMACIA ---------------------------------- */






/* ------------------FIN DEL FOOTER----------------- */




/* *-----------------*CONTACTOS------------------------- */

/* *-----------------* FIN DE CONTACTOS------------------------- */







/* ------------------MEDIA QUERIES----------------- */
@media (max-width:991px) {
    .headerRedes{
        height: 10vh;
    }

    .description img {
        width: 40px;
        height: 40px;
    }


    .home{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%);
        width: 12rem;
        color: white;
        font-family: 'Fredoka One', cursive;
    }

    .home h1 {
        font-size: 1rem;
    }

    .sub-title {
        display: block;
        margin-bottom: 10px;
    }

    .price p{
        font-size: .5rem;
    }

    .price span{
        font-size: 1rem;
    }

    .aboutImgText {
        flex-wrap: wrap;
    }

    .aboutImgText img {
        width: 300px;
    }

    .container {
        max-width: 100% !important;
    }

    .aboutText {
        margin: 0;
    }

    .aboutText h2{
        font-size: 1.5rem;
    }

    .aboutText p{
        font-size: .8rem;
    }

    .services .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1rem;
    }

    .services .box-container .box img {
        margin: 1rem 0;
        height: 3rem;
    }

    .services .box-container .box h3 {
        font-size: 1rem;
    }

}


@media (max-width:768px){
    .headerRedes{
        height: 10vh;
    }

    .description img {
        width: 40px;
        height: 40px;
    }

    .dayHours {
        display: none;
    }


    .home{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%);
        width: 12rem;
        color: white;
        font-family: 'Fredoka One', cursive;
    }

    .home h1 {
        font-size: 1rem;
    }

    .sub-title {
        display: block;
        margin-bottom: 10px;
    }

    .price p{
        font-size: .5rem;
    }

    .price span{
        font-size: 1rem;
    }

    .aboutImgText {
        flex-wrap: wrap;
    }

    .aboutImgText img {
        width: 300px;
    }

    .container {
        max-width: 100% !important;
    }

    .aboutText {
        margin: 0;
    }

    .aboutText h2{
        font-size: 1.5rem;
    }

    .aboutText p{
        font-size: .8rem;
    }

    .services .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1rem;
    }

    .services .box-container .box img {
        margin: 1rem 0;
        height: 3rem;
    }

    .services .box-container .box h3 {
        font-size: 1rem;
    }

}

@media (max-width:450px){
    .headerRedes{
        height: 10vh;
    }

    .description img {
        width: 40px;
        height: 40px;
    }

    .dayHours {
        display: none;
    }


    .home{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%);
        width: 12rem;
        color: white;
        font-family: 'Fredoka One', cursive;
    }

    .home h1 {
        font-size: 1rem;
    }

    .sub-title {
        display: block;
        margin-bottom: 10px;
    }

    .price p{
        font-size: .5rem;
    }

    .price span{
        font-size: 1rem;
    }

    .carousel-item img {
        height: 32vh;
    }

    .aboutImgText {
        flex-wrap: wrap;
    }

    .aboutImgText img {
        width: 100%;
    }

    .aboutText {
        margin: 0;
    }

    .aboutText h2{
        font-size: 1.5rem;
    }

    .aboutText p{
        font-size: .8rem;
    }

    .services .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        gap: 1rem;
    }

    .services .box-container .box img {
        margin: 1rem 0;
        height: 3rem;
    }

    .services .box-container .box h3 {
        font-size: 1rem;
    }
}