
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }



    .containerHeader{
        height: 30vh;
        background-image: url("../img/portada.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    .parrafoHome{
        width: 80vw;
    }

body{
    background-color: #E9F1F7;
}

.card{
    height: 50vh;
}